{% trans_default_domain 'AppBundle' %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.company) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.plan) }}
    </div>
</div>

{{ form_row(form.description) }}
{#<div class="row">#}
    {#<div class="col-lg-6">#}
        {#{{ form_row(form.name) }}#}
    {#</div>#}
    {#<div class="col-lg-6">#}
        {#{{ form_row(form.description) }}#}
    {#</div>#}
{#</div>#}


<div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <a class="btn btn-white" href="{{ path('administrator_contract_list') }}">{{ 'app.cancel' | trans }}</a>
        <button class="ladda-button btn btn-primary" type="submit" data-style="zoom-in">{{ 'app.save'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}