{% extends 'base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'app.administrator.plan.edit' | trans }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('administrator_plan_list') }}">{{ 'app.administrator.plan.list' | trans }}</a></li>
    <li class="active">
        <strong>{{ 'app.administrator.plan.edit' | trans }}</strong>
    </li>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ 'app.administrator.plan.edit' | trans }}</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            {{ include('SuperAdmin/Plan/_form.html.twig') }}
        </div>
    </div>

{% endblock %}